h1 {
    color: rgb(199, 199, 16);
}
.name1 {
    background-color: rgb(119, 119, 253);
}
.name2 {
    background-color: rgb(94, 197, 94);
}
.name3 {
    background-color: orange;
}
*  {
    box-sizing: border-box;
}
.box1 {
    float: left;
    margin: 10px;
    border: 1px solid rgb(119, 119, 253);
    background-color: rgb(176, 234, 253);
    padding: 15px;
}
.box2 {
    float: left;
    margin: 10px;
    border: 1px solid rgb(94, 197, 94);
    background-color: rgb(155, 253, 155);
    padding: 15px;
}
.box3 {
    float: left;
    margin: 10px;
    border: 1px solid orange;
    background-color: rgb(252, 205, 119);
    padding: 15px;
}
@media (min-width: 992px) and (max-width: 1500px) {
    .box1{
        width: 31%;
    }
    .box2{
        width: 31%;
    }
    .box3{
        width: 31%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .box1{
        width: 46.5%;
    }
    .box2{
        width: 46.5%;
    }
    .box3{
        width: 95.5%;
    }
}
@media (max-width: 767px) {
    .box1{
        width: 95%;
    }
    .box2{
        width: 95%;
    }
    .box3{
        width: 95%;
    }
}